<mat-toolbar color="primary">
  <strong class="has-text-dark is-size-4">persale.discount</strong>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="/login">
    <mat-icon class="has-text-dark">
      monitoring
    </mat-icon>
  </button>
</mat-toolbar>
<section class="hero is-fullheight-with-navbar is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <mat-icon class="has-text-primary" style="transform: scale(2.5);">trending_up</mat-icon>
      <mat-icon class="has-text-primary" style="transform: scale(2.5);">stacked_line_chart</mat-icon>
      <mat-icon class="has-text-primary" style="transform: scale(2.5);">trending_up</mat-icon>
      <p class="title has-text-primary">presale.discount</p>
      <p class="subtitle has-text-primary">Maak nu gebruik van voorverkoop korting voor uw vaste klanten!</p>
      <button mat-raised-button color="primary" class="has-text-dark p-6 is-size-4" style="width: 100%;" routerLink="/register">
        <p class="title has-text-dark m-1" >Winkel Aanmelden</p>
      </button>
    </div>
  </div>
</section>
